Cliente_WS_Calculadora/xml-resources/web-service-references/WSCalcular/wsdl/localhost_8080/WSCalcular/WSCalcular.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculadora.me.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculadora.me.org/">

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="somar" type="tns:somar"/>

<xs:element name="somarResponse" type="tns:somarResponse"/>

<xs:element name="subtrair" type="tns:subtrair"/>

<xs:element name="subtrairResponse" type="tns:subtrairResponse"/>

<xs:complexType name="subtrair">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtrairResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somar">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="somarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="a" type="xs:float"/>
<xs:element name="b" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>